.box {
    display: grid;
    grid-template-rows: auto auto repeat(3, 511px) 1000px 818px 800px;
    margin: 0 auto;
}

.nav,
.header,
.section_1,
.section_2,
.section_3,
.section_4,
.section_5,
.footer {
    grid-column-start: 1;
    grid-column-end: 2;
}

.nav {
    grid-row-start: 1;
    background-color: #FEC77E;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.link a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

.link ul {
    list-style-type: none;
}

.nav h2 {
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 80px;
    font-style: normal;
    color: #CC2A41;

}

.nav button {
    width: 150px;
    height: 53px;
    background-color: #CC2A41;
    border-radius: 10px;
    color: white;
}

.header {
    grid-row-start: 2;
    background-color: #FEC77E;
}

.h1 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 190px;
    font-style: normal;
    color: #CC2A41;
    text-align: center;
    padding: 0px 260px 0px 260px;

}

.foto {
    text-align: center;
}

.foto_text {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 31px;
    font-style: normal;
    color: #CC2A41;
    text-align: center;
    line-height: 40px;
    margin-top: 138px;
}

.icn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 200px;
    padding-top: 70px;
}

.text {
    margin: 80px 50px 113px 65px;
}

.section_1 {
    grid-row-start: 3;
    display: flex;
    justify-content: space-between;
}

.section_1 h2 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-style: normal;
    color: #CC2A41;
    width: 900px;
    height: 155px;

}

.section_1 p {
    width: 900px;
    height: 108px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.section_1 img {
    width: 509px;
    height: 509px;
}

.section_2 {
    grid-row-start: 4;
    display: flex;
    justify-content: space-between;
}

.section_2 h2 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-style: normal;
    color: #CC2A41;
    width: 900px;
    height: 155px;

}

.section_2 p {
    width: 900px;
    height: 108px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.section_2 img {
    width: 509px;
    height: 509px;
}



.section_3 {
    grid-row-start: 5;
    display: flex;
    justify-content: space-between;

}

.section_3 h2 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-style: normal;
    color: #CC2A41;
    width: 900px;
    height: 155px;

}

.section_3 p {
    width: 900px;
    height: 108px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: black;
}

.section_3 img {
    width: 509px;
    height: 509px;
}

.section_4 {

    grid-row-start: 6;
    background-image: url(/img/IMAGE.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.section_4 h2 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 64px;
    font-style: normal;
    color: black;
    text-align: center;
}

.section_4 span {
    color: #CC2A41;
}

.section_4 p {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-style: normal;
    color: black;
    text-align: center;
}

.section_5 {
    background-color: #FEC77E;
    background-image: url(/img/section_5/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 7;
    display: flex;
    justify-content: space-between;

}

.section_5 h2 {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 112px;
    font-style: normal;
    color: #CC2A41;
}

.section_5 p {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    color: #CC2A41;
    width: 600px;
}

.footer {
    background-color: #FEC77E;
    grid-row-start: 8;

}

.text_footer {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 96px;
    font-style: normal;
    color: #CC2A41;
    text-align: center;

}

footer p {
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-style: normal;
    color: #CC2A41;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}